body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('assets/artspace-ai-1729925136138.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #63131D;
  color: whitesmoke;
}

header {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  color: rgb(12, 12, 12);
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
